@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}


.whole-container {
    display: flex;
    flex-direction: column;
}

.nav-container {
    border: solid;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
}

nav {
    margin: 20px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    transition: 0.25s;
    color: aqua;
}

.nav-container h1 {
    position: absolute;
    top: 0;
    color: white;
    margin-top: 1rem;
}

/*------------ INSPARADISE SECTION -------------*/

body {
    background: black;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 300px;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-image {
    background-color: aqua;
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.blog-1 {
    background-image: url('images/blog1.jpg')
}

.blog-2 {
    background-image: url('images/blog2.jpg')
}

.blog-3 {
    background-image: url('images/blog3.jpg')
}

.card h2 {
    padding: 10px;
}

.card p {
    padding: 10px;
    flex-grow: 1; 
}

.card a {
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
    border-radius: 100px;
    font-weight: 700;
    
}

.card:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.5s ease;
}